<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css' )}}">
    <title>Package Tracker</title>
</head>
<body>
    <nav class="navigation">
        <div>
            <a href="/">Home</a>
            <a href="/new_package">New Package</a>
        </div>

        {% if current_user.is_anonymous %}
            <div class="session-but">
                <a href="/session">Login</a>
                <a href="/session/signup">Signup</a>
            </div>
        {% else %}
            <form method="post" action="{{ url_for('session.logout') }}">
                <button>Logout</button>
            </form>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
